<div id="headertop">
  <div id="hlogo">
    <a href="http://gamerenegades.stuorg.iastate.edu"><img src="/images/logo.png" /></a>
  </div>
  <%= render :partial => "/shared/menu",
  :locals => {
  :dom_id => 'menu',
  :css => 'menu'
} -%>
</div>
<div id="halfback">
	</div>

